<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>practica1</title>
<link rel="stylesheet" type="text/css" href="../css/estilos.css">
<style>
table {
font-size: 25px;
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
	<ul id="navbar"> 
	
<li><a href="../practica.html">inicio</a></li>
<li><a href="productos.html">productos</a></li>
<li><a href="catalogo.html">catalogo</a></li>
<li><a href="contacto.html">contacto</a></li>
<li><a href="mas.html">Para saber mas </a></li>

</ul>
<div id="content">
	
<h3 style="text-align: center;">Sección de Catalogo</h3>	
</div>

<h2>LO MAS VENDIDO  </h2>

<table>
  <tr>
    <th>AREGLOS</th>
    <th>ORIGEN</th>
    <th>PRECIO</th>
  </tr>
  <tr>
    <td>Arreglos para aniversario</td>
    <td>México</td>
    <td>200</td>
  </tr>
  <tr>
    <td>Arreglos de bodas </td>
    <td>Tlaxcala</td>
    <td>500</td>
  </tr>
  <tr>
    <td>Arreglos para cumpleaños</td>
    <td>Tlaxcala</td>
    <td>300</td>
  </tr>
  <tr>
    <td>Arreglos para bautizos</td>
    <td>México</td>
    <td>400</td>
  </tr>
  <tr>
    
</table>

<h2>Tenemos</h2>

<ul>
  <li>Arreglos</li>
  <li>Regalos</li>
  <li>Cajas </li>
  <li>Trajetas personalizadas </li>
   <li>Collares  </li>
</ul>  

<h2>Solo sigue los siguientes pasos </h2>

<ol>
  <li>Entra a la página</li>
  <li>Elige lo que mas te guste </li>
  <li>Añade un usuario</li>
   <li>Y tu forma de pago </li>
    <li>El enio se realizara gratis </li>
</ol> 


<div id="footer">
	<p>	Contacto</p>
	<p>	Telefono: (276)1094445</p>
</body>
</html>