<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>practica1</title>
<link rel="stylesheet" type="text/css" href="../css/estilos.css">

</head>
<body>
	<ul id="navbar"> 
	
<li><a href="../practica.html">inicio</a></li>
<li><a href="productos.html">productos</a></li>
<li><a href="catalogo.html">catalogo</a></li>
<li><a href="contacto.html">contacto</a></li>
<li><a href="mas.html">Para saber mas </a></li>

</ul>
<div id="content">
	
<h3 style="text-align: center;">Sección de 	Contacto</h3>	
</div>
<form action="">
	<h2>CONTACTO</h2>
	<input type="text" name="Nombre" placeholder="Nombre">
	<input type="text" name="Correo" placeholder="Correo">
	<input type="text" name="Teléfono" placeholder="Teléfono">
	<textarea name="Mensaje" placeholder="Escriba aqui su mensaje"></textarea>
	<input type="button" name="" value="ENVIAR" id="boton">

<h1>ACCEDE CON GOOGLE</h1>

<p><a href="https://www.google.com/intl/es/account/about/">Cuenta goole</a></p>

</form>

<div id="footer">
	<p>	Contacto</p>
	<p>	Telefono: (276)1094445</p>
</body>
</html>